<!-- This is the template for the single parking slot -->
<article id={{id}} class="flex__item parking__slot">
    <div class="triangle">
        <i class="fas fa-check"></i> 
    </div>
    <div class="parking">
          <i class="fas fa-car fa-5x"></i> 
          <h1 class="price">{{ price }}</h1>
    </div>
    <div class='features'>
        <p>{{ indoor }}</p>
        <p>{{ insurance }}</p>
        <!--<div class="book">prenota</div>-->
    </div>
</article>